<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy612.loan.dao.PersonalLoanMaterialMapper" >
  <resultMap id="BaseResultMap" type="com.gy612.loan.entity.PersonalLoanMaterial" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="material_personal" property="materialPersonal" jdbcType="VARCHAR" />
    <result column="material_mortgage" property="materialMortgage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, material_personal, material_mortgage
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gy612.loan.entity.PersonalLoanMaterialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from personal_loan_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from personal_loan_material
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from personal_loan_material
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gy612.loan.entity.PersonalLoanMaterialExample" >
    delete from personal_loan_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gy612.loan.entity.PersonalLoanMaterial" >
    insert into personal_loan_material (id, material_personal, material_mortgage
      )
    values (#{id,jdbcType=VARCHAR}, #{materialPersonal,jdbcType=VARCHAR}, #{materialMortgage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gy612.loan.entity.PersonalLoanMaterial" >
    insert into personal_loan_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="materialPersonal != null" >
        material_personal,
      </if>
      <if test="materialMortgage != null" >
        material_mortgage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="materialPersonal != null" >
        #{materialPersonal,jdbcType=VARCHAR},
      </if>
      <if test="materialMortgage != null" >
        #{materialMortgage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gy612.loan.entity.PersonalLoanMaterialExample" resultType="java.lang.Integer" >
    select count(*) from personal_loan_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update personal_loan_material
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.materialPersonal != null" >
        material_personal = #{record.materialPersonal,jdbcType=VARCHAR},
      </if>
      <if test="record.materialMortgage != null" >
        material_mortgage = #{record.materialMortgage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update personal_loan_material
    set id = #{record.id,jdbcType=VARCHAR},
      material_personal = #{record.materialPersonal,jdbcType=VARCHAR},
      material_mortgage = #{record.materialMortgage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy612.loan.entity.PersonalLoanMaterial" >
    update personal_loan_material
    <set >
      <if test="materialPersonal != null" >
        material_personal = #{materialPersonal,jdbcType=VARCHAR},
      </if>
      <if test="materialMortgage != null" >
        material_mortgage = #{materialMortgage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy612.loan.entity.PersonalLoanMaterial" >
    update personal_loan_material
    set material_personal = #{materialPersonal,jdbcType=VARCHAR},
      material_mortgage = #{materialMortgage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>